@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo/a ao site oficial do Sistema de Ajuda Médica !</h1>
    <br />
    <h2>Instituto Politécnico de Tomar</h2>
    <h4>Escola Superior de Tecnologia de Tomar</h4>
    <br />
    <br />
    <br />
    <h4>Aplicação Web utilizando a Entity Framework - Model View Controller</h4>
    <br />
    <h5>Desenvolvimento Web</h5>
    <p>Ano letivo 2021/2022</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h4>Aluno: André Sá ( aluno21296@ipt.pt )</h4>
</div>
